/*
  Estilos específicos del formulario
*/

fieldset {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0px;
}

fieldset.vertical {
  flex-direction: column;
}

fieldset#main {
  border: 5px;
}

fieldset div {
  display: flex;
  flex-direction: column;
}

input {
  width: 90%;
  background-color: white;
}

section#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  background-color: coral;
  width: 80;
}

.errorlabel {
  color: red;
}

.mandatoryfield {
  color: crimson;
  font-size: .8em;
}

button[type="submit"] {
  background-color: white;
}

button[type="submit"]:hover {
  background-color: lightgray;
}

.success {
  background-color: greenyellow;
}